
body {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: #34495e;
  text-decoration: none;
}

.logo {
  margin: 0;
  font-size: 1.45em;
}
.logo a {
  padding: 10px 15px;
  text-transform: uppercase;
  text-align: center;
  display: block;
}

.main-nav {
  margin-top: 5px;
}
.main-nav a {
  padding: 10px 15px;
  text-transform: uppercase;
  text-align: center;
  display: block;
  color: #34495e;
  font-size: 0.99em;
}
.main-nav a:hover {
  color: #79b0a1;
}

.header {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  border: 1px solid #a2a2a2;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.75);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

@media (min-width: 769px) {
  .header {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .header .header {
    width: 80%;
    margin: 0 auto;
    max-width: 1150px;
  }
  .header .main-nav {
    display: flex;
  }
}
@media (min-width: 769px) and (min-width: 1025px) {
  .header {
    flex-direction: row;
    justify-content: space-between;
  }
}
.main .cover {
  margin-bottom: 20px;
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
  background-color: transparent;
}
.main .cover img {
  mix-blend-mode: darken;
  height: 75vh;
  width: 100%;
}
@media (max-width: 768px) {
  .main .cover img {
    height: fit-content;
  }
}
.main .cover .cover-title {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  margin: 0px auto;
  transform: translate(0%, 48%);
}
.main .cover .cover-title .title {
  font-size: 42px;
  font-weight: 700;
  color: #fff;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
  text-transform: uppercase;
  margin: 0 auto;
  padding: 10px;
  min-width: 20%;
  max-width: 40%;
  border-radius: 50px;
  background-color: #000000b3;
}
@media (max-width: 768px) {
  .main .cover .cover-title .title {
    font-size: 28px;
    width: 30%;
  }
}
.main .services,
.main .product {
  max-width: 1200px;
  margin: 20px auto;
  border-bottom: 1px solid #eee;
}
@media (max-width: 991px) {
  .main .services,
  .main .product {
    max-width: 100% !important;
    margin: 0 auto;
    width: 100%;
  }
}
.main .services .service-grid,
.main .services .product-grid,
.main .product .service-grid,
.main .product .product-grid {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 5px;
  margin-bottom: 30px;
}
.main .services .service-grid-item img,
.main .services .product-grid-item img,
.main .product .service-grid-item img,
.main .product .product-grid-item img {
  object-fit: cover;
  height: 500px;
  width: 100%;
  max-width: 500px;
}
@media (max-width: 768px) {
  .main .services .service-grid-item img,
  .main .services .product-grid-item img,
  .main .product .service-grid-item img,
  .main .product .product-grid-item img {
    height: 300px;
    width: 100%;
    max-width: 280px;
  }
}
.main .services .service-grid-right,
.main .services .product-grid-left,
.main .product .service-grid-right,
.main .product .product-grid-left {
  margin: auto 40px;
  position: relative;
}
.main .services .service-grid-right .separator,
.main .services .product-grid-left .separator,
.main .product .service-grid-right .separator,
.main .product .product-grid-left .separator {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  width: 290px;
  height: 2px;
  background-color: #000;
  transform: translate(0px, 100px);
}
@media (max-width: 768px) {
  .main .services .service-grid-right .separator,
  .main .services .product-grid-left .separator,
  .main .product .service-grid-right .separator,
  .main .product .product-grid-left .separator {
    width: 160px;
    transform: translate(0, 55px);
  }
}
.main .services .service-grid-right h1,
.main .services .product-grid-left h1,
.main .product .service-grid-right h1,
.main .product .product-grid-left h1 {
  font-size: 52px;
}
@media (max-width: 768px) {
  .main .services .service-grid-right h1,
  .main .services .product-grid-left h1,
  .main .product .service-grid-right h1,
  .main .product .product-grid-left h1 {
    font-size: 28px;
  }
}
.main .services .service-grid-right .nav,
.main .services .product-grid-left .nav,
.main .product .service-grid-right .nav,
.main .product .product-grid-left .nav {
  list-style: disc;
  padding-left: 48px;
  margin-bottom: 20px;
}
.main .services .service-grid-right ul .learn-more-btn,
.main .services .product-grid-left ul .learn-more-btn,
.main .product .service-grid-right ul .learn-more-btn,
.main .product .product-grid-left ul .learn-more-btn {
  text-decoration: none;
  list-style: none;
  padding-top: 30px;
}
.main .services .service-grid-right ul .learn-more-btn a,
.main .services .product-grid-left ul .learn-more-btn a,
.main .product .service-grid-right ul .learn-more-btn a,
.main .product .product-grid-left ul .learn-more-btn a {
  color: #ffff;
  background-color: #438975;
  padding: 10px 16px;
  border-radius: 4px;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  display: inline-block;
  transition: 0.6s all;
}
.main .services .service-grid-right ul .learn-more-btn a:hover,
.main .services .product-grid-left ul .learn-more-btn a:hover,
.main .product .service-grid-right ul .learn-more-btn a:hover,
.main .product .product-grid-left ul .learn-more-btn a:hover {
  background-color: #79b0a1;
  color: white;
  text-decoration: none;
}

.team {
  max-width: 1200px;
  margin: 0 auto;
  border-bottom: 1px solid #eee;
}
@media (max-width: 991px) {
  .team {
    width: 100%;
  }
}
.team .team-grid {
  display: grid;
  grid-template-columns: repeat(3, 390px);
  grid-gap: 5px;
  margin: 30px;
}
@media (max-width: 991px) {
  .team .team-grid {
    grid-template-columns: repeat(3, 230px);
    grid-gap: 15px;
    margin: 0;
  }
}
.team figure.aboutquote {
  position: relative;
  overflow: hidden;
  margin: 10px;
  min-width: 220px;
  max-width: 310px;
  width: 100%;
  color: #34495e;
  text-align: left;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  border-radius: 8px;
}
.team figure.aboutquote * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.35s cubic-bezier(0.25, 0.5, 0.5, 0.9);
  transition: all 0.35s cubic-bezier(0.25, 0.5, 0.5, 0.9);
}
.team figure.aboutquote img {
  max-width: 100%;
  vertical-align: middle;
}
.team figure.aboutquote blockquote {
  position: relative;
  background-color: #fff;
  padding: 25px 50px 25px 50px;
  font-size: 0.8em;
  font-weight: 500;
  text-align: justify;
  margin: 0;
  line-height: 1.6em;
  font-style: italic;
  height: auto;
}
.team figure.aboutquote blockquote:before {
  content: "\201C";
  position: absolute;
  font-size: 50px;
  opacity: 0.3;
  font-style: normal;
  top: 25px;
  left: 20px;
}
.team figure.aboutquote blockquote:after {
  content: "\201C";
  position: absolute;
  font-size: 50px;
  opacity: 0.3;
  font-style: normal;
  content: "\201D";
  right: 20px;
  bottom: 0;
}
.team figure.aboutquote .arrow {
  top: 100%;
  width: 0;
  height: 0;
  border-left: 0 solid transparent;
  border-right: 25px solid transparent;
  border-top: 25px solid #ffffff;
  margin: 0;
  position: absolute;
}
.team figure.aboutquote .author {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 5px 25px;
  color: #34495e;
  background-color: #fff;
  margin: 0;
  text-transform: uppercase;
}
.team figure.aboutquote .author h5 {
  opacity: 0.8;
  margin: 0;
  font-weight: 800;
}
.team figure.aboutquote .author h5 span {
  font-weight: 400;
  text-transform: none;
  padding-left: 5px;
}

.about {
  max-width: 1200px;
  margin: 30px auto;
}
.about .about-title {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  padding: 20px;
  border-radius: 5px;
  background-color: #ffffff;
  text-align: justify;
}

.services-section {
  max-width: 1200px;
  margin: 30px auto;
}
@media (max-width: 991px) {
  .services-section {
    max-width: 100%;
  }
}
.services-section .grid-service-section {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-gap: 20px;
}
.services-section .grid-service-section .card {
  max-width: 350px;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px,
    rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px,
    rgba(0, 0, 0, 0.07) 0px 16px 16px;
  margin-bottom: 10px;
}
.services-section .grid-service-section .card img {
  width: 100%;
  height: 400px;
  object-fit: cover;
}
.services-section .grid-service-section .card .card-title {
  padding: 20px;
}

.product-section {
  margin: 0 auto;
  max-width: 1200px;
}
.product-section .product-grid-section {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 10px;
}
@media (max-width: 1350px) {
  .product-section .product-grid-section {
    grid-template-columns: repeat(1, auto);
  }
}
.product-section .wrapper {
  height: 420px;
  width: 654px;
  margin: 50px auto;
  border-radius: 7px 7px 7px 7px;
  -webkit-box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
}
.product-section .product-img {
  float: left;
  height: 20px;
  width: 327px;
}
.product-section .product-img img {
  border-radius: 7px 0 0 7px;
}
.product-section .product-info {
  float: left;
  height: 420px;
  width: 327px;
  border-radius: 0 7px 10px 7px;
  background-color: #ffffff;
}
.product-section .product-text {
  height: 350px;
  width: 300px;
}
.product-section .product-text h1 {
  margin: 0 0 0 38px;
  padding-top: 52px;
  font-size: 34px;
  color: #474747;
}
.product-section .product-text h2 {
  margin: 0 0 8px 38px;
  font-size: 13px;
  font-weight: 400;
  text-transform: uppercase;
  color: #d2d2d2;
  letter-spacing: 0.2em;
}
.product-section .product-text p {
  height: 200px;
  margin: 0 0 5px 20px;
  color: #000;
  line-height: 1.7em;
  font-size: 15px;
  font-weight: lighter;
  text-align: justify;
  overflow: hidden;
}
.product-section .product-price-btn {
  height: 103px;
  width: 327px;
  position: relative;
}
.product-section .product-price-btn p {
  display: inline-block;
  position: absolute;
  top: -13px;
  height: 50px;
  margin: 0 0 0 38px;
  font-size: 28px;
  font-weight: lighter;
  color: #474747;
}
.product-section .product-price-btn button {
  float: right;
  display: inline-block;
  height: 50px;
  width: 176px;
  margin: 0 40px 0 16px;
  box-sizing: border-box;
  border: transparent;
  border-radius: 60px;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  background-color: #438975;
  cursor: pointer;
  outline: none;
}
.product-section .product-price-btn button:hover {
  background-color: #79b0a1;
}
.product-section span {
  display: inline-block;
  height: 50px;
  font-size: 34px;
}

.contact-us {
  max-width: 1200px;
  margin: 20px auto;
}
.contact-us .contact-grid {
  display: grid;
  grid-template-columns: repeat(2, 0.6fr);
  grid-gap: 40px;
}
.contact-us .contact-grid form {
  width: 100%;
}
.contact-us .contact-grid form label {
  display: block;
  margin-bottom: 10px;
  font-weight: 00;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: #000;
}
.contact-us .contact-grid form input {
  width: 100%;
  height: 30px;
  margin-bottom: 10px;
  font-size: 14px;
  padding-left: 10px;
}
.contact-us .contact-grid form input:focus {
  outline: none;
}
.contact-us .contact-grid form .submit-btn a {
  margin-bottom: 10px;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  padding: 10px 15px;
  color: #fff;
  background-color: #438975;
  border-radius: 5px;
  text-decoration: none;
}
.contact-us .contact-grid form .submit-btn a:hover {
  color: #000;
  background-color: #79b0a1;
}

.footer {
  color: #fff;
  padding: 30px;
  background-color: #438975;
}
.footer #footer-grid {
  display: grid;
  max-width: 1200px;
  margin: 0 auto;
  grid-template-columns: repeat(3, 0.5fr);
  grid-gap: 30px;
  margin-bottom: 20px;
}
.footer #footer-grid .footer-item .footer-logo {
  max-width: 150px;
  margin-right: 10px;
  margin-left: 10px;
  margin-bottom: 20px;
}
.footer #footer-grid .footer-item .footer-nav {
  display: flex;
  flex-direction: row;
}
.footer #footer-grid .footer-item .footer-nav img {
  margin-right: 10px;
  margin-left: 10px;
}
.footer #footer-grid .footer-item .footer-nav li {
  border-right: 1px solid;
}
.footer .copyright {
  background-color: #438975;
  padding-top: 20px;
}

/*# sourceMappingURL=style.css.map */
